* {
    box-sizing: border-box;
}

html {
    font-family: "Trebuchet MS", Arial, sans-serif;
    background: #eee;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    min-height: 100vh;
}

nav ul li {
    display: inline-block;
}

.help-container {
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
}

.show-help {
    display: none;
}

.num-chests {
    margin-bottom: 0;
}

.max-chest-alert {
    margin-bottom: 20px;
    color: #e20000;
}

.chest-messaging,
.open-container,
.reward {
    height: 80px;
}

.item-container {
    padding-left: 0;
}

.inventory .item {
    display: block;
    width: 130px;
    background-color: #333;
    color: #ddd;
    height: 180px;
    padding: 10px;
    margin: 10px;
    float: left;
    border-radius: 7px;
    border: 1px solid #fff;
    outline: 5px solid #333;
}

.inventory .item-magic {
    background-color: #172b9d;
}

.inventory .item-rare {
    background-color: #958d0d;
}

.inventory .item-unique {
    background-color: #996d32
}

.inventory .item-name {
    font-weight: bold;
    border-bottom: 1px solid #777;
    margin-bottom: 10px;
}


